Source: node-blue-node-telegram-bot
Maintainer: Joachim Böddeker <jboeddeker@informatik-gmbh.de>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/telegram-bot/README.md

Package: node-blue-node-telegram-bot
Architecture: all
Section: misc
Priority: optional
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/telegram-bot/README.md
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 0.7.0)
Description: Provides a telegram-bot node for Node-BLUE.
 This packet adds a telegram-bot node to Node-BLUE.
