Source: node-blue-node-backup
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/backup/README.md

Package: node-blue-node-backup
Architecture: all
Section: misc
Priority: optional
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/backup/README.md
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 0.7.0)
Description: Provides a backup node for Node-BLUE.
 This packet adds a backup node to Node-BLUE.
