Source: node-blue-node-pjlink
Maintainer: Sathya Laufer <sathya@laufers.net>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/pjlink/README.md

Package: node-blue-node-pjlink
Architecture: all
Section: misc
Priority: optional
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/pjlink/README.md
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 0.7.0)
Description: Provides a pjlink node for Node-BLUE.
 This packet adds a pjlink node to Node-BLUE.
