Source: node-blue-node-variable-profiles
Maintainer: Michael Scheffler <ms@easy-smarthome.de>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/variable-profiles/README.md

Package: node-blue-node-variable-profiles
Architecture: all
Section: misc
Priority: optional
Homepage: https://github.com/Homegear/homegear-nodes-optional/tree/dev/variable-profiles/README.md
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 0.7.0)
Description: Provides a node to activate a variable profile for Node-BLUE.
 Keywords: Variable,profile,activate
