#!/usr/bin/make -f

override_dh_auto_clean:

override_dh_auto_configure:
	# We can for example download needed files here.
	# All shell commands are supported

override_dh_auto_build:

override_dh_auto_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	mkdir -p $(CURDIR)/debian/node-blue-node-miele/var/lib/homegear/node-blue/nodes/smarthome
	cp -R $(CURDIR)/*.php $(CURDIR)/*.hni $(CURDIR)/locales $(CURDIR)/debian/node-blue-node-miele/var/lib/homegear/node-blue/nodes/smarthome/
	
%:
	dh $@
