Source: node-blue-node-mysql
Maintainer: Patrik Mayer <patrik.mayer@codm.de>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://allgeek.de

Package: node-blue-node-mysql
Architecture: all
Section: misc
Priority: optional
Homepage: https://homegear.eu
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 1.0.1)
Description: Provides a mySQL node for Node-BLUE.
 This packet adds a mySQL node to Node-BLUE.
